In [1]:
# Main libraries
from configs import *
from data_preprocess import *
from data_shuffling_split import *

In [2]:
new_dialect_dataset = read_csv("dialect_dataset_with_text.csv")
new_dialect_dataset.head()

Number of instances in the file are:  458197

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺

In [3]:
ids_col="id" 
text_col="text"
dialect_col="dialect"
file_name_to_read = "dialect_dataset_with_text.csv"
file_name_to_save = "dialect_dataset_preprocessed_without_Lemmatization.csv"
_ = arabic_preprocess_pipline(file_name_to_read, file_name_to_save, ids_col,
                              text_col, dialect_col, using_lemma=False)

Number of instances in the file are:  458197
Some samples of text after preprocessed it:
['حسابشخصي لكن بالنهايه . . ينتفض . . يغير . ', 'حسابشخصي يعني هذا محسوب علي البشر . . حيونه وحشيه . . وتطلبون من الغرب يحترمكم ويؤمن بدينكم ولاينعتكم بالارهاب . . ', 'حسابشخصي مبين من كلامه خليجي', 'حسابشخصي يسلملي مرورك وروحك الحلوه 💐 ', 'حسابشخصي وين هل الغيبه اخ محمد 🌺 ']
==================================================
Number of instances in our new file are:  458197
==================================================
Our Arabic preprocess pipeline is work without any error.

In [4]:
preprocessed_dialect_dataset = read_csv(file_name_to_save)
preprocessed_dialect_dataset.head()

Number of instances in the file are:  458197

,id,dialect,text
0,1175358310087892992,IQ,حسابشخصي لكن بالنهايه . . ينتفض . . يغير .
1,1175416117793349632,IQ,حسابشخصي يعني هذا محسوب علي البشر . . حيونه وح...
2,1175450108898565888,IQ,حسابشخصي مبين من كلامه خليجي
3,1175471073770573824,IQ,حسابشخصي يسلملي مرورك وروحك الحلوه 💐
4,1175496913145217024,IQ,حسابشخصي وين هل الغيبه اخ محمد 🌺

In [5]:
validate_ids_and_dialect(new_dialect_dataset, preprocessed_dialect_dataset)

==================================================
The columns of orginal data are:  Index(['id', 'dialect', 'text'], dtype='object')
==================================================
The columns of new created data are:  Index(['id', 'dialect', 'text'], dtype='object')
==================================================

True

# Shuffle and Split

Instead of random shuffle using ordinal **train_test_split**, we use **StratifiedShuffleSplit**, that ensure we have proportions almost identical to the orginal. It help us to make approximate distrbution for samples per class.

To do that we pass the most representative attribute of our data, and as we have the dialect column which has 18 different classes, so it will be more representative to distribute sampels per class based on that attribute.

**Look at the table below to see how difference between the two method of split**

In [6]:
train_set, test_set             = general_split_and_shuffle(preprocessed_dialect_dataset,  .02)
strat_train_set, strat_test_set = Stratified_split_and_shuffle(preprocessed_dialect_dataset, "dialect", .02)

The number of instances in the training data after train_test_split are:  449033
The number of instances in the testing data after train_test_split are:   9164
The number of instances in the training data after StratifiedShuffleSplit are:  449033
The number of instances in the testing data after StratifiedShuffleSplit are:   9164

In [8]:
compare_proportions = compare_random_and_stratified_split(preprocessed_dialect_dataset, test_set, strat_test_set)
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
AE,0.057390,0.057399,0.056526,0.014557,-1.506577
BH,0.057381,0.057399,0.055980,0.029773,-2.442446
DZ,0.035319,0.035356,0.034046,0.104393,-3.603177
EG,0.125789,0.125818,0.124509,0.023635,-1.017374
IQ,0.033822,0.033828,0.037538,0.018704,10.988497
JO,0.060937,0.060890,0.064382,-0.075866,5.654550
KW,0.091902,0.091881,0.095373,-0.022028,3.777610
LB,0.060273,0.060236,0.060781,-0.062211,0.843023
LY,0.079658,0.079660,0.080314,0.002085,0.824020
MA,0.025183,0.025207,0.026626,0.094674,5.727707
OM,0.041720,0.041685,0.039175,-0.084354,-6.100217
PL,0.095465,0.095482,0.090790,0.017634,-4.897518
QA,0.067807,0.067765,0.069729,-0.061809,2.834951
SA,0.058560,0.058599,0.057508,0.066429,-1.797006
SD,0.031502,0.031536,0.029681,0.110194,-5.778641
SY,0.035448,0.035465,0.033501,0.048600,-5.492553
TN,0.020179,0.020188,0.021279,0.042607,5.450315
YE,0.021665,0.021606,0.022261,-0.272638,2.749403

In [9]:
strat_train_set_path_to_save = "strat_train_set.csv"

save_train_test_data(strat_train_set, "train/", strat_train_set_path_to_save, data_path=DATA_PATH)

True

In [10]:
strat_test_set_path_to_save  = "strat_test_set.csv"

save_train_test_data(strat_test_set, "test/", strat_test_set_path_to_save, data_path=DATA_PATH)

True

In [11]:
strat_train_set = read_csv("train/strat_train_set.csv")
strat_train_set.head()

Number of instances in the file are:  449033

,id,dialect,text
0,950950675101470848,JO,دكتورا انا بستني فيك تفعل الاسك مره تاتيه عشان...
1,469574435930775616,KW,عطيني عيونك الليله و باكر يا عساه صدود امانه ل...
2,1162633925023490048,SD,#نفير_الملابس يلا عايزين اكبر كميه من الملابس ...
3,1175486673251131392,YE,حسابشخصي يالله تسلمي اختي جنات
4,1174045704483942400,JO,حسابشخصي نفسي بمندي مثل هذا

In [12]:
strat_test_set = read_csv("test/strat_test_set.csv")
strat_test_set.head()

Number of instances in the file are:  9164

,id,dialect,text
0,962371953607827584,EG,الولا عبد الله جمعه ده الله اكبر عليه، لعيب عا...
1,1069470691047686016,KW,ولا اقدر اقولك تـم . . .
2,950852288414875648,EG,بص يا بسومتي بتتحط ازاي ابسومتي 👇 رابطويب
3,885441099745157120,SY,حسابشخصي شو هالدم الخفيف هيدا
4,961873125486071808,QA,حسابشخصي خسي خسي ياخي كذب بالمعقول شلون كيلو ف...