# Shuffle and Split

Instead of random shuffle using ordinal **train_test_split**, we use **StratifiedShuffleSplit**, that ensure we have proportions almost identical to the orginal. It help us to make approximate distrbution for samples per class.

To do that we pass the most representative attribute of our data, and as we have the dialect column which has 18 different classes, so it will be more representative to distribute sampels per class based on that attribute.

**Look at the table below to see how difference between the two method of split**

In [1]:
# Main libraries
from configs import *
from data_shuffling_split import *

In [2]:
dialect_dataset = read_csv("dialect_dataset_preprocessed_without_Lemmatization.csv")

# Display first 5 rows from the file
dialect_dataset.head()

Number of instances in the file are:  458197

,id,dialect,text
0,1175358310087892992,IQ,حسابشخصي لكن بالنهايه . . ينتفض . . يغير .
1,1175416117793349632,IQ,حسابشخصي يعني هذا محسوب علي البشر . . حيونه وح...
2,1175450108898565888,IQ,حسابشخصي مبين من كلامه خليجي
3,1175471073770573824,IQ,حسابشخصي يسلملي مرورك وروحك الحلوه 💐
4,1175496913145217024,IQ,حسابشخصي وين هل الغيبه اخ محمد 🌺

In [3]:
train_set, test_set             = general_split_and_shuffle(dialect_dataset,  .02)
strat_train_set, strat_test_set = Stratified_split_and_shuffle(dialect_dataset, "dialect", .02)

The number of instances in the training data after train_test_split are:  449033
The number of instances in the testing data after train_test_split are:   9164
The number of instances in the training data after StratifiedShuffleSplit are:  449033
The number of instances in the testing data after StratifiedShuffleSplit are:   9164

In [4]:
compare_proportions = compare_random_and_stratified_split(dialect_dataset, test_set, strat_test_set)

In [5]:
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
AE,0.057390,0.057399,0.052706,0.014557,-8.161538
BH,0.057381,0.057399,0.057617,0.029773,0.410114
DZ,0.035319,0.035356,0.036665,0.104393,3.811963
EG,0.125789,0.125818,0.121017,0.023635,-3.793398
IQ,0.033822,0.033828,0.033282,0.018704,-1.594501
JO,0.060937,0.060890,0.066019,-0.075866,8.340682
KW,0.091902,0.091881,0.089371,-0.022028,-2.753017
LB,0.060273,0.060236,0.059799,-0.062211,-0.786398
LY,0.079658,0.079660,0.082497,0.002085,3.563803
MA,0.025183,0.025207,0.023898,0.094674,-5.105050
OM,0.041720,0.041685,0.041139,-0.084354,-1.392150
PL,0.095465,0.095482,0.092318,0.017634,-3.297236
QA,0.067807,0.067765,0.071584,-0.061809,5.570779
SA,0.058560,0.058599,0.058381,0.066429,-0.306258
SD,0.031502,0.031536,0.031973,0.110194,1.495802
SY,0.035448,0.035465,0.035901,0.048600,1.279967
TN,0.020179,0.020188,0.022261,0.042607,10.317253
YE,0.021665,0.021606,0.023570,-0.272638,8.793485

In [6]:
strat_train_set_path_to_save = "strat_train_set.csv"

save_train_test_data(strat_train_set, "train/", strat_train_set_path_to_save, data_path=DATA_PATH)

True

In [7]:
strat_test_set_path_to_save  = "strat_test_set.csv"

save_train_test_data(strat_test_set, "test/", strat_test_set_path_to_save, data_path=DATA_PATH)

True

In [8]:
strat_train_set = read_csv("train/strat_train_set.csv")
strat_train_set.head()

Number of instances in the file are:  449033

,id,dialect,text
0,964840085341523968,QA,حسابشخصي مسكين 2022 في قطر تقدر تفتح اي موضوع ...
1,1115507840419020800,KW,حسابشخصي ياهلا بوجاسم ،، يا صباح الورد 🇰🇼
2,1074282714797203584,IQ,حسابشخصي العمر كله يارب بسعاده وسرور . . بس عم...
3,1078708091850498048,SY,حسابشخصي اي طبعا بالعلامه انت سرقته مني 😂
4,1174041851982168064,EG,حسابشخصي كان لازم نحلف ابي ع المصحف ومش اي حلف...

In [9]:
strat_test_set = read_csv("test/strat_test_set.csv")
strat_test_set.head()

Number of instances in the file are:  9164

,id,dialect,text
0,673108175751614464,KW,بقولج شي انا بنت 🙈 بس جد والله ان الميكاب ارتس...
1,1031996189963636736,MA,ايوا ا سيادنا مبروك عيدكم تشويو وتعاودو مع عائ...
2,1118972071353176064,PL,لو بتفكر انك لما تحكي لمرتك لا ع كل اشي رجال و...
3,1109479470245642240,LB,حسابشخصي ١ - ميشال عون ما عنده كلاب ! اذا انت ...
4,890838344397205504,IQ,#الاقصي_في_قلب_سلمان الكل تتاجر بالقضيه الفلسط...