In [1]:
# Main libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from configs import *
from fetch_data import *
from data_shuffling_split import *

In [2]:
dialect_dataset = read_csv("dialect_dataset_preprocessed_without_Lemmatization.csv")

# Display first 5 rows from the file
dialect_dataset.head()

Number of instances in the file are:  458197

,id,dialect,text
0,1175358310087892992,IQ,Ø­Ø³Ø§Ø¨Ø´Ø®ØµÙŠ Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠÙ‡ . . ÙŠÙ†ØªÙØ¶ . . ÙŠØºÙŠØ± .
1,1175416117793349632,IQ,Ø­Ø³Ø§Ø¨Ø´Ø®ØµÙŠ ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„ÙŠ Ø§Ù„Ø¨Ø´Ø± . . Ø­ÙŠÙˆÙ†Ù‡ ÙˆØ­...
2,1175450108898565888,IQ,Ø­Ø³Ø§Ø¨Ø´Ø®ØµÙŠ Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,Ø­Ø³Ø§Ø¨Ø´Ø®ØµÙŠ ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ ğŸ’
4,1175496913145217024,IQ,Ø­Ø³Ø§Ø¨Ø´Ø®ØµÙŠ ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒº

In [3]:
train_set, test_set             = general_split_and_shuffle(dialect_dataset, "dialect", .02)
strat_train_set, strat_test_set = Stratified_split_and_shuffle(dialect_dataset, "dialect", .02)

The number of instances in the training data are:  449033
The number of instances in the testing data are:   9164
The number of instances in the training data are:  449033
The number of instances in the testing data are:   9164

In [4]:
compare_df = compare_random_and_stratified_split(dialect_dataset, test_set, strat_test_set)

In [5]:
compare_df

,classes,overall,stratified_test,random_test,stratified_test. %error,random_test. %error
0,TN,9246,185,193,906100,905300
1,YE,9927,198,199,972900,972800
2,MA,11539,231,237,1130800,1130200
3,SD,14434,289,286,1414500,1414800
4,IQ,15497,310,293,1518700,1520400
5,DZ,16183,324,315,1585900,1586800
6,SY,16242,325,323,1591700,1591900
7,OM,19116,382,393,1873400,1872300
8,BH,26292,526,517,2576600,2577500
9,AE,26296,526,540,2577000,2575600
10,SA,26832,537,545,2629500,2628700
11,LB,27617,552,560,2706500,2705700
12,JO,27921,558,577,2736300,2734400
13,QA,31069,621,614,3044800,3045500
14,LY,36499,730,687,3576900,3581200
15,KW,42109,842,811,4126700,4129800
16,PL,43742,875,884,4286700,4285800
17,EG,57636,1153,1190,5648300,5644600

In [ ]:

stratified_test.sort()
stratified_train.sort()
overall.sort()

labels = dialect_dataset['dialect'].value_counts(ascending=True)

keys = list(dicts.keys())

compare_dict = {'classes': keys, 'overall': overall, 'stratified_test': stratified_test, 'random_test':random_test , 
                'stratified_train': stratified_train, 'random_train': random_train}

compare_df = pd.DataFrame(compare_dict)

In [ ]:
keys

In [ ]:
len(stratified_train)

In [ ]:
# In table below we can see how stratified static method most similar to overall coverage of our dataset
# look also at the simple random Vs overall
compare_df['stratified_test. %error'] = np.abs((compare_df['stratified_test'] - compare_df['overall']) * 100)
compare_df['random_test. %error'] = np.abs((compare_df['random_test'] - compare_df['overall']) * 100)

compare_df['stratified_train. %error'] = np.abs((compare_df['stratified_train'] - compare_df['overall']) * 100)

compare_df['random_train. %error'] = np.abs((compare_df['random_train'] - compare_df['overall']) * 100)

compare_df

In [ ]:
dialect_dataset['dialect'].value_counts(ascending=True)

In [ ]:
dicts = dict(dialect_dataset['dialect'].value_counts())

In [ ]:
keys = dicts.keys()

In [ ]:
dicts = dict(sorted(dicts.items(), key=lambda item: item[1]))

In [ ]:
keys